
<section id="testimonial">
  <div class="container"> 

  <% if signed_in? %>
    <div class="row">
      <div class="span6 offset3">
        <section>
          <%= render 'shared/user_info' %>
        </section><br><br>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
          
      </div>
  </div>

<div class="row">
      <div class="span10 offset1">
       <section>
          <%= render 'shared/user_photos' %>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="span10 offset1">
       <section>
          <%= render 'shared/user_chart' %>
        </section>
      </div>
    </div>

  <% else %>

  <div class="center hero-unit">
  <h1>Welcome</h1>

  <h2>
  	If you'd like to edit or view your messages, sign in. Or, if you're new:
  <h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-buy btn-primary" %>

  <br><br>
  <h2>
  	To view your page, enter the associated email address
  <h2>
  	<%= render 'shared/display_form' %>

  </div>

  <%=  
  # link_to image_tag("rails.png", alt: "Rails"), 'http://www.google.com'  
  %>

  <% end %>

  </div>

</section>