<% provide(:title, "User Info") %>


<section id="display">
	<div class="container">	
		<h1><%= @title.titleize %></h1>
		<%= gravatar_for @user %>
        <%= @user.name %>
	<br><br>
<% if @micropost %>
	<span class="content">Duration: <%= @duration %> seconds.</span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@micropost.created_at) %> ago.
  </span>

<% portions = @micropost.content.split(/v=/) %>

<br><br>
<div id="video1"></div>
<% else %>
<span>No Content.<span>
<% end %>




<script>

var tag = document.createElement('script');
tag.src = "https://www.youtube.com/player_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

function onYouTubePlayerAPIReady() {
    var videoBox = document.getElementById('video1');
    videoBox.ytplayer = new YT.Player(videoBox, {
        videoId: '<%= portions.last %>',
        playerVars: {
            //controls: 0,
            wmode:'transparent'
        },
        height: '800',
        width: '320', 
        events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
    });

     // autoplay video
    function onPlayerReady(event) {
        event.target.playVideo();
    }

    // when video ends
    function onPlayerStateChange(event) {        
        if(event.data === 0) {            
            window.location = "callback:anything";
        }
    }
}
</script>






	</div>
</div>