<%=
		portions = micropost.content.split(/v=/)
		requestString = 'http://gdata.youtube.com/feeds/api/videos/' + portions.last + '?v=2'
		require "net/http"
		require 'open-uri'

		url = URI.parse(requestString)
		req = Net::HTTP.new(url.host, url.port)
		res = req.request_head(url.path)
		if res.code == "200"
			@doc = Nokogiri::XML(open(requestString))
		
			@title = @doc.at_css("title").text;
			@thumbnail = ActionController::Base.helpers.strip_tags(@doc.xpath('//media:thumbnail').attr("url").text)
			@title = ActionController::Base.helpers.strip_tags(@title); nil
		else
			@title = "This link looks like it's dead"
		end

		
		
%>


<li>
<div class=row>
	<div class=span5>
		  <span class="content"> <a href="<%= micropost.content %>" target="_blank"><img src="<%= @thumbnail %>"><br> 
		  	<%= @title %></a></span>

			<% if (micropost.videxists == 2) %><br>
			<div class="alert alert-error">
  <p><strong>Something's wrong with this video!</strong> Last time we played the video, there was an error. You might want to delete this one.</p>
</div>
			<% end %>

		  <span class="timestamp">
		    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
		  </span>
		  <% if current_user?(micropost.user) %>
		    <%= link_to "delete", micropost, method: :delete,
		                                     data: { confirm: "You sure?" },
		                                     title: micropost.content %>
		  <% end %>
		</div>

	<div class=span3>
		Played <%= micropost.timesplayed %> times <br>
		Watched for <%= micropost.secondswatched %> seconds<br>
		<% if micropost.quality %>
		Received <%= micropost.quality %> likes<br>
		<% end %>
		<% if micropost.lastwatch %>
			Last Played <%= time_ago_in_words(micropost.lastwatch) %> ago.
		<% end %>
		<br>
		<% if micropost.priority %>
			<%= link_to "high priority (reset)", micropost, method: :put,
		                                            title: micropost.content, class: "btn btn-danger" %>
		<% else %>
			<%= link_to "make priority", micropost, method: :put,
		                                            title: micropost.content %>

		<% end %>
	</div>

</div>
</li>
<hr>